@model Fotbollstips.TipsData

@{
    ViewBag.Title = "Resultat";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultat : @ViewBag.Number</h2>

<div>
    @using (Html.BeginForm("Index", "Result", FormMethod.Post))
    {
        <table>
            <tr>
                <th>
                    Namn
                </th>
                <th>
                    Poäng
                </th>
                <th>
                    Finallag 1
                </th>
                <th>
                    Finallag 2
                </th>
                <th>
                    Vinnare finalen
                </th>
                <th>
                    Rys-Sau
                </th>
                <th>
                    Egy-Uru
                </th>
                <th>
                    Mar-Ira
                </th>
                <th>
                    Por-Spa
                </th>
                <th>
                    Fra-Aus
                </th>
                <th>
                    Arg-Isl
                </th>
                <th>
                    Per-Dan
                </th>
                <th>
                    Kro-Nig
                </th>
                <th>
                    Cos-Ser
                </th>
                <th>
                    Tys-Mex
                </th>
                <th>
                    Bra-Sch
                </th>
                <th>
                    Sve-Syd
                </th>
                <th>
                    Bel-Pan
                </th>
                <th>
                    Tun-Eng
                </th>
                <th>
                    Col-Jap
                </th>
                <th>
                    Pol-Sen
                </th>
                <th>
                    Rys-Egy
                </th>
                <th>
                    Por-Mar
                </th>
                <th>
                    Uru-Sau
                </th>
                <th>
                    Ira-Spa
                </th>
                <th>
                    Dan-Aus
                </th>
                <th>
                    Fra-Per
                </th>
                <th>
                    Arg-kro
                </th>
                <th>
                    Bra-Cos
                </th>
                <th>
                    Nig-Isl
                </th>
                <th>
                    Ser-Sch
                </th>
                <th>
                    Bel-Tun
                </th>
                <th>
                    Syd-Mex
                </th>
                <th>
                    Tys-Sve
                </th>
                <th>
                    Eng-Pan
                </th>
                <th>
                    Jap-Sen
                </th>
                <th>
                    Pol-Col
                </th>
                <th>
                    Sau-Egy
                </th>
                <th>
                    Uru-Rys
                </th>
                <th>
                    Ira-Por
                </th>
                <th>
                    Spa-Mar
                </th>
                <th>
                    Dan-Fra
                </th>
                <th>
                    Aus-Per
                </th>
                <th>
                    Nig-Arg
                </th>
                <th>
                    Isl-Kro
                </th>
                <th>
                    Syd-Tys
                </th>
                <th>
                    Mex-Sve
                </th>
                <th>
                    Ser-Bra
                </th>
                <th>
                    Sch-Cos
                </th>
                <th>
                    Jap-Pol
                </th>
                <th>
                    Sen-Col
                </th>
                <th>
                    Eng-Bel
                </th>
                <th>
                    Pan-Tun
                </th>
            </tr>
            <tr>
                <td>
                    @Model.Namn
                </td>
                <td>
                    @Model.Poäng
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Finallag1)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Finallag2)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Vinnare)
                </td>
                <th>
                    @Html.TextBoxFor(m => m.Ryssland_Saudiarabien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Egypten_Uruguay)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Marocko_Iran)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Portugal_Spanien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Frankrike_Australien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Argentina_Island)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Peru_Danmark)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Kroatien_Nigeria)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.CostaRica_Serbien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Tyskland_Mexico)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Brasilien_Schweiz)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Sverige_Sydkorea)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Belgien_Panama)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Tunisien_England)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Colombia_Japan)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Polen_Senegal)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Ryssland_Egypten)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Portugal_Marocko)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Uruguay_Saudiarabien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Iran_Spanien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Danmark_Australien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Frankrike_Peru)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Argentina_Kroatien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Brasilien_CostaRica)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Nigeria_Island)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Serbien_Schweiz)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Belgien_Tunisien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Sydkorea_Mexiko)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Tyskland_Sverige)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.England_Panama)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Japan_Senegal)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Polen_Colombia)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Saudiarabien_Egypten)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Uruguay_Ryssland)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Iran_Portugal)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Spanien_Marocko)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Danmark_Frankrike)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Australien_Peru)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Nigeria_Argentina)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Island_Kroatien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Sydkorea_Tyskland)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Mexiko_Sverige)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Serbien_Brasilien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Schweiz_CostaRica)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Japan_Polen)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Senegal_Colombia)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.England_Belgien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Panama_Tunisien)
                </th>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Spara" />
                </td>
            </tr>



        </table>
    }




</div>