@model List<Fotbollstips.TipsData>
@{
    ViewBag.Title = "Resultat";
}

<div class="jumbotron">
    <h2>Resultat för VM-tipset 2018</h2>
    <p>Totalt är 52 rader inlämnade vilket innebär 2600 kr till vinnaren.</p>
</div>
<div>
    <table>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Poäng
            </th>
            <th>
                Finallag 1
            </th>
            <th>
                Finallag 2
            </th>
            <th>
                Vinnare finalen
            </th>
            <th>
                Rys-Sau
            </th>
            <th>
                Egy-Uru
            </th>
            <th>
                Mar-Ira
            </th>
            <th>
                Por-Spa
            </th>
            <th>
                Fra-Aus
            </th>
            <th>
                Arg-Isl
            </th>
            <th>
                Per-Dan
            </th>
            <th>
                Kro-Nig
            </th>
            <th>
                Cos-Ser
            </th>
            <th>
                Tys-Mex
            </th>
            <th>
                Bra-Sch
            </th>
            <th>
                Sve-Syd
            </th>
            <th>
                Bel-Pan
            </th>
            <th>
                Tun-Eng
            </th>
            <th>
                Col-Jap
            </th>
            <th>
                Pol-Sen
            </th>
            <th>
                Namn
            </th>
            <th>
                Poäng
            </th>
            <th>
                Rys-Egy
            </th>
            <th>
                Por-Mar
            </th>
            <th>
                Uru-Sau
            </th>
            <th>
                Ira-Spa
            </th>
            <th>
                Dan-Aus
            </th>
            <th>
                Fra-Per
            </th>
            <th>
                Arg-kro
            </th>
            <th>
                Bra-Cos
            </th>
            <th>
                Nig-Isl
            </th>
            <th>
                Ser-Sch
            </th>
            <th>
                Bel-Tun
            </th>
            <th>
                Syd-Mex
            </th>
            <th>
                Tys-Sve
            </th>
            <th>
                Eng-Pan
            </th>
            <th>
                Jap-Sen
            </th>
            <th>
                Pol-Col
            </th>
            <th>
                Namn
            </th>
            <th>
                Poäng
            </th>
            <th>
                Sau-Egy
            </th>
            <th>
                Uru-Rys
            </th>
            <th>
                Ira-Por
            </th>
            <th>
                Spa-Mar
            </th>
            <th>
                Dan-Fra
            </th>
            <th>
                Aus-Per
            </th>
            <th>
                Nig-Arg
            </th>
            <th>
                Isl-Kro
            </th>
            <th>
                Syd-Tys
            </th>
            <th>
                Mex-Sve
            </th>
            <th>
                Ser-Bra
            </th>
            <th>
                Sch-Cos
            </th>
            <th>
                Jap-Pol
            </th>
            <th>
                Sen-Col
            </th>
            <th>
                Eng-Bel
            </th>
            <th>
                Pan-Tun
            </th>
        </tr>

        @foreach (var item in Model)
        {
            List<string> correctTeams = new List<string>();

            correctTeams.Add(Model[0].Finallag1);
            correctTeams.Add(Model[0].Finallag2);

            var final1 = (correctTeams.Any(item.Finallag1.Contains)) ? "color:#00D600" : "";
            var final2 = (correctTeams.Any(item.Finallag2.Contains)) ? "color:#00D600" : "";

            var vinnare = (item.Vinnare == Model[0].Vinnare) ? "color:#00D600" : "";

            var argisl = (item.Argentina_Island == Model[0].Argentina_Island) ? "color:#00D600" : "";
            var argkro = (item.Argentina_Kroatien == Model[0].Argentina_Kroatien) ? "color:#00D600" : "";
            var ausper = (item.Australien_Peru == Model[0].Australien_Peru) ? "color:#00D600" : "";
            var belpan = (item.Belgien_Panama == Model[0].Belgien_Panama) ? "color:#00D600" : "";
            var beltun = (item.Belgien_Tunisien == Model[0].Belgien_Tunisien) ? "color:#00D600" : "";
            var bracos = (item.Brasilien_CostaRica == Model[0].Brasilien_CostaRica) ? "color:#00D600" : "";
            var brasch = (item.Brasilien_Schweiz == Model[0].Brasilien_Schweiz) ? "color:#00D600" : "";
            var coljap = (item.Colombia_Japan == Model[0].Colombia_Japan) ? "color:#00D600" : "";
            var cosser = (item.CostaRica_Serbien == Model[0].CostaRica_Serbien) ? "color:#00D600" : "";
            var danaus = (item.Danmark_Australien == Model[0].Danmark_Australien) ? "color:#00D600" : "";
            var danfra = (item.Danmark_Frankrike == Model[0].Danmark_Frankrike) ? "color:#00D600" : "";
            var egyuru = (item.Egypten_Uruguay == Model[0].Egypten_Uruguay) ? "color:#00D600" : "";
            var engbel = (item.England_Belgien == Model[0].England_Belgien) ? "color:#00D600" : "";
            var engpan = (item.England_Panama == Model[0].England_Panama) ? "color:#00D600" : "";
            var fraaus = (item.Frankrike_Australien == Model[0].Frankrike_Australien) ? "color:#00D600" : "";
            var fraper = (item.Frankrike_Peru == Model[0].Frankrike_Peru) ? "color:#00D600" : "";
            var irapor = (item.Iran_Portugal == Model[0].Iran_Portugal) ? "color:#00D600" : "";
            var iraspa = (item.Iran_Spanien == Model[0].Iran_Spanien) ? "color:#00D600" : "";
            var islkro = (item.Island_Kroatien == Model[0].Island_Kroatien) ? "color:#00D600" : "";
            var jappol = (item.Japan_Polen == Model[0].Japan_Polen) ? "color:#00D600" : "";
            var japsen = (item.Japan_Senegal == Model[0].Japan_Senegal) ? "color:#00D600" : "";
            var kronig = (item.Kroatien_Nigeria == Model[0].Kroatien_Nigeria) ? "color:#00D600" : "";
            var marira = (item.Marocko_Iran == Model[0].Marocko_Iran) ? "color:#00D600" : "";
            var mexsve = (item.Mexiko_Sverige == Model[0].Mexiko_Sverige) ? "color:#00D600" : "";
            var nigarg = (item.Nigeria_Argentina == Model[0].Nigeria_Argentina) ? "color:#00D600" : "";
            var nigisl = (item.Nigeria_Island == Model[0].Nigeria_Island) ? "color:#00D600" : "";
            var pantun = (item.Panama_Tunisien == Model[0].Panama_Tunisien) ? "color:#00D600" : "";
            var perdan = (item.Peru_Danmark == Model[0].Peru_Danmark) ? "color:#00D600" : "";
            var polcol = (item.Polen_Colombia == Model[0].Polen_Colombia) ? "color:#00D600" : "";
            var polsen = (item.Polen_Senegal == Model[0].Polen_Senegal) ? "color:#00D600" : "";
            var pormar = (item.Portugal_Marocko == Model[0].Portugal_Marocko) ? "color:#00D600" : "";
            var porspa = (item.Portugal_Spanien == Model[0].Portugal_Spanien) ? "color:#00D600" : "";
            var rysegy = (item.Ryssland_Egypten == Model[0].Ryssland_Egypten) ? "color:#00D600" : "";
            var ryssau = (item.Ryssland_Saudiarabien == Model[0].Ryssland_Saudiarabien) ? "color:#00D600" : "";
            var sauegy = (item.Saudiarabien_Egypten == Model[0].Saudiarabien_Egypten) ? "color:#00D600" : "";
            var schcos = (item.Schweiz_CostaRica == Model[0].Schweiz_CostaRica) ? "color:#00D600" : "";
            var sencol = (item.Senegal_Colombia == Model[0].Senegal_Colombia) ? "color:#00D600" : "";
            var serbra = (item.Serbien_Brasilien == Model[0].Serbien_Brasilien) ? "color:#00D600" : "";
            var sersch = (item.Serbien_Schweiz == Model[0].Serbien_Schweiz) ? "color:#00D600" : "";
            var spamar = (item.Spanien_Marocko == Model[0].Spanien_Marocko) ? "color:#00D600" : "";
            var svesyd = (item.Sverige_Sydkorea == Model[0].Sverige_Sydkorea) ? "color:#00D600" : "";
            var sydmex = (item.Sydkorea_Mexiko == Model[0].Sydkorea_Mexiko) ? "color:#00D600" : "";
            var sydtys = (item.Sydkorea_Tyskland == Model[0].Sydkorea_Tyskland) ? "color:#00D600" : "";
            var tuneng = (item.Tunisien_England == Model[0].Tunisien_England) ? "color:#00D600" : "";
            var tysmex = (item.Tyskland_Mexico == Model[0].Tyskland_Mexico) ? "color:#00D600" : "";
            var tyssve = (item.Tyskland_Sverige == Model[0].Tyskland_Sverige) ? "color:#00D600" : "";
            var ururys = (item.Uruguay_Ryssland == Model[0].Uruguay_Ryssland) ? "color:#00D600" : "";
            var urusau = (item.Uruguay_Saudiarabien == Model[0].Uruguay_Saudiarabien) ? "color:#00D600" : "";

            <tr>
                <td>
                    @item.Namn
                </td>
                <td>
                    @item.Poäng
                </td>
                <td style="@final1">
                    @item.Finallag1
                </td>
                <td style="@final2">
                    @item.Finallag2
                </td>
                <td style="@vinnare">
                    @item.Vinnare
                </td>
                @*<td style="@rysBra">
                    @item.Ryssland_Brasilien
                </td>*@
                <td style="@ryssau">
                    @item.Ryssland_Saudiarabien
                </td>
                <td style="@egyuru">
                    @item.Egypten_Uruguay
                </td>
                <td style="@marira">
                    @item.Marocko_Iran
                </td>
                <td style="@porspa">
                    @item.Portugal_Spanien
                </td>
                <td style="@fraaus">
                    @item.Frankrike_Australien
                </td>
                <td style="@argisl">
                    @item.Argentina_Island
                </td>
                <td style="@perdan">
                    @item.Peru_Danmark
                </td>
                <td style="@kronig">
                    @item.Kroatien_Nigeria
                </td>
                <td style="@cosser">
                    @item.CostaRica_Serbien
                </td>
                <td style="@tysmex">
                    @item.Tyskland_Mexico
                </td>
                <td style="@brasch">
                    @item.Brasilien_Schweiz
                </td>
                <td style="@svesyd">
                    @item.Sverige_Sydkorea
                </td>
                <td style="@belpan">
                    @item.Belgien_Panama
                </td>
                <td style="@tuneng">
                    @item.Tunisien_England
                </td>
                <td style="@coljap">
                    @item.Colombia_Japan
                </td>
                <td style="@polsen">
                    @item.Polen_Senegal
                </td>
                <td>
                    @item.Namn
                </td>
                <td>
                    @item.Poäng
                </td>
                <td style="@rysegy">
                    @item.Ryssland_Egypten
                </td>
                <td style="@pormar">
                    @item.Portugal_Marocko
                </td>
                <td style="@urusau">
                    @item.Uruguay_Saudiarabien
                </td>
                <td style="@iraspa">
                    @item.Iran_Spanien
                </td>
                <td style="@danaus">
                    @item.Danmark_Australien
                </td>
                <td style="@fraper">
                    @item.Frankrike_Peru
                </td>
                <td style="@argkro">
                    @item.Argentina_Kroatien
                </td>
                <td style="@bracos">
                    @item.Brasilien_CostaRica
                </td>
                <td style="@nigisl">
                    @item.Nigeria_Island
                </td>
                <td style="@sersch">
                    @item.Serbien_Schweiz
                </td>
                <td style="@beltun">
                    @item.Belgien_Tunisien
                </td>
                <td style="@sydmex">
                    @item.Sydkorea_Mexiko
                </td>
                <td style="@tyssve">
                    @item.Tyskland_Sverige
                </td>
                <td style="@engpan">
                    @item.England_Panama
                </td>
                <td style="@japsen">
                    @item.Japan_Senegal
                </td>
                <td style="@polcol">
                    @item.Polen_Colombia
                </td>
                <td>
                    @item.Namn
                </td>
                <td>
                    @item.Poäng
                </td>
                <td style="@sauegy">
                    @item.Saudiarabien_Egypten
                </td>
                <td style="@ururys">
                    @item.Uruguay_Ryssland
                </td>
                <td style="@irapor">
                    @item.Iran_Portugal
                </td>
                <td style="@spamar">
                    @item.Spanien_Marocko
                </td>
                <td style="@danfra">
                    @item.Danmark_Frankrike
                </td>
                <td style="@ausper">
                    @item.Australien_Peru
                </td>
                <td style="@nigarg">
                    @item.Nigeria_Argentina
                </td>
                <td style="@islkro">
                    @item.Island_Kroatien
                </td>
                <td style="@sydtys">
                    @item.Sydkorea_Tyskland
                </td>
                <td style="@mexsve">
                    @item.Mexiko_Sverige
                </td>
                <td style="@serbra">
                    @item.Serbien_Brasilien
                </td>
                <td style="@schcos">
                    @item.Schweiz_CostaRica
                </td>
                <td style="@jappol">
                    @item.Japan_Polen
                </td>
                <td style="@sencol">
                    @item.Senegal_Colombia
                </td>
                <td style="@engbel">
                    @item.England_Belgien
                </td>
                <td style="@pantun">
                    @item.Panama_Tunisien
                </td>
            </tr>
        }
    </table>
</div>


