@model List<Fotbollstips.TipsData>
@{
    ViewBag.Title = "VM tips 2018";
}

<div class="jumbotron">
    <h2>Resultat för VM-tipset 2018.</h2>
    <p>Totalt är xx rader inlämnade vilket innebär yyy kr till vinnaren.</p>
</div>
<div>
    <table>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Poäng
            </th>
            <th>
                Finallag 1
            </th>
            <th>
                Finallag 2
            </th>
            <th>
                Vinnare finalen
            </th>
            <th>
                Sve-Kam
            </th>
            <th>
                Rys-Bra
            </th>
            <th>
                Kam-Bra
            </th>
            <th>
                Sve-Rys
            </th>
        </tr>

        @foreach (var item in Model)
        {
            List<string> correctTeams = new List<string>();

            correctTeams.Add(Model[0].Finallag1);
            correctTeams.Add(Model[0].Finallag2);

            var final1 = (correctTeams.Any(item.Finallag1.Contains)) ? "color:#00D600" : "";
            var final2 = (correctTeams.Any(item.Finallag2.Contains)) ? "color:#00D600" : "";

            var vinnare = (item.Vinnare == Model[0].Vinnare) ? "color:#00D600" : "";

            var sveKam = (item.Sverige_Kamerun == Model[0].Sverige_Kamerun) ? "color:#00D600" : "";
            var rysBra = (item.Ryssland_Brasilien == Model[0].Ryssland_Brasilien) ? "color:#00D600" : "";
            var kamBra = (item.Kamerun_Brasilien == Model[0].Kamerun_Brasilien) ? "color:#00D600" : "";
            var sveRys = (item.Sverige_Ryssland == Model[0].Sverige_Ryssland) ? "color:#00D600" : "";

            <tr>
                <td>
                    @item.Namn
                </td>
                <td>
                    @item.Poäng
                </td>
                <td style="@final1">
                    @item.Finallag1
                </td>
                <td style="@final2">
                    @item.Finallag2
                </td>
                <td style="@vinnare">
                    @item.Vinnare
                </td>
                <td style="@sveKam">
                    @item.Sverige_Kamerun
                </td>
                <td style="@rysBra">
                    @item.Ryssland_Brasilien
                </td>
                <td style="@kamBra">
                    @item.Kamerun_Brasilien
                </td>
                <td style="@sveRys">
                    @item.Sverige_Ryssland
                </td>
            </tr>
        }
    </table>
</div>


<br /><br />
<h1 style="color: red">Nedan är det som kommer visas innan VM börjar, så man inte kan titta vad andra tippat</h1>
<br /><br />

<div class="jumbotron">
    <p>Följande personer har lämnat in rader för VM-tipset, förutom de som lämnat in en kopia på restaurangerna.
    Din rad är inte giltig förrän du betalat in 50 kronor till telefonnummer xxxx-xxxxxx.</p>
    <p>Har du några frågor så
    gå in under fliken "Ge en kommentar" eller skicka ett mail direkt till vmtips2018@gmail.com.</p>
    <p><strong>Senaste tid för uppdatering av betalning: 2017-07-08 kl 16:28</strong> (Det innebär
    alltså att du kan ha betalat men att administratören inte uppdaterat denna sidan än)</p>

</div>

<div>
    <table>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Betalat
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if(item.Namn == "Rätt svar")
            {
                continue;
            }

            <tr>
                <td>
                    @item.Namn
                </td>
                @if ((bool)item.HasPayed)
                {
                    <td>
                        Ja
                    </td>
                }
                else
                {
                    <td>
                        Nej
                    </td>
                }
            </tr>
        }
    </table>
</div>






@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started Robin</h2>
            <p>@ViewBag.Hej</p>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@